
.form-signin {
	max-width:330px;
	width:100%;
	margin-left:auto;
	margin-right:auto;
}

.vertical-center {
  min-height: 100%; 
  min-height: 100vh;    
  display: flex;
  align-items: center;
}

.form {
	position: relative;
	z-index: 1;
	background: #FFFFFF;
	max-width: 360px;
	margin: 0 auto 50px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}
.form input {
	font-family: "Roboto", sans-serif;
	outline: 0;
	background: #f2f2f2;
	width: 100%;
	border: 0;
	margin: 0 0 15px;
	padding: 15px;
	box-sizing: border-box;
	font-size: 14px;
}
.form button {
	font-family: "Roboto", sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #aaa;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}
.form button:hover,.form button:active,.form button:focus {
	background: #43A047;
}

.form form {
	margin-bottom: 5px;
}

.liste {
	text-align: center;
	background: #FFFFFF;
	margin-left:auto; 
    margin-right:auto;
	margin-bottom: 30px;
	width: 80%;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.liste table {
	border-collapse: collapse;
	
}

.liste td {
	text-align: left;
	font-weight: bold;
	padding : 10px;
	border-style: solid;
	border-color: #aaa;
	border-width: thin;
}

.errmsg {
	font-weight: bold;
	font-size: 0.9em;
	color: red;
}

.popup {
	border: solid 1px;
	width: 300px;
	border-radius: 5px;
	background-color: lavender;
	margin-left: auto;
	margin-right: auto;
}
body {
	background: #eee; /* fallback for old browsers */
	background: -webkit-linear-gradient(right, #eee, #eee);
	background: -moz-linear-gradient(right, #stylesheet, #eee);
	background: -o-linear-gradient(right, #eee, #eee);
	background: linear-gradient(to left, #eee, #eee);
	font-family: "Roboto", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	text-align: center;
}
